.errorDiv{
    padding: 50px;
    margin: 20px;
}
.container{
    height: 100vh
}
.img {
  max-width: 600px;
  display: block;
  margin-bottom: 2rem;
  margin: 0 auto;
  width: 80%;
}
.centerLink{
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.textCenter {
    display: block;
}

 h3 {
  margin-bottom: 0.5rem;
}
 p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  color: var(--grey-500);
}
 a {
  color: var(--primary-500);
  text-decoration: underline;
  text-transform: capitalize;
}


.error{
  color: red;
  font-weight: bold;
  text-decoration: underline;
}